*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
}
html{
    font-size: 17px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
body{
    background: url(./img/háttér.jpg.jpg) no-repeat center center black;
    background-attachment: fixed;
    background-size: contain;
    color: greenyellow;
    font-family: fantasy;
}
.header{
    text-align: center;
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
    width: 24.99999%;
    float: left;
    text-align: center;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.navigation ul li a:hover{
    color: greenyellow;
}
.contents content h2{
    padding: 0;
    margin: 0;
    width: auto;
} 
.contents content p{
    box-sizing: 100%;
}
